@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --gradient: radial-gradient(circle, #e5e5e5 0%, #fff 100%);
}

html,
body {
  width: 100dvw;
  overflow-x: hidden;
  background-color: black;
  color: white;
  scroll-behavior: smooth;
  font-family: "Dosis", sans-serif;

}


.dosis {
  font-family: "Dosis", sans-serif;
}

.mona {
  font-family: "Mona Sans", sans-serif;
}
section {
  width: 100dvw;
}


.gradient-line0 {
  width: 2px;
  height: 130%;
  transform: translateY(100px);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 0, 0) 0%,   
    #ff5e0033 25%,               
    #ff5e00cb 50%,                 
    #ff5e00 75%,            
    #ff5e00 100%               
  );
}

.gradient-line1 {
  width: 2px;
  height: 130%;
  transform: translateY(100px);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 255, 0) 0%,     
    #1e8fff2c 25%,                
    #4169e1 50%,               
    #76ade4  75%,             
    #0e467e  100%                 
  );
}

.gradient-line2 {
  width: 2px;
  height: 130%;
  transform: translateY(100px);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 0%,         
    #000000 25%,                
    #333333 50%,                
    #555555 75%,              
    #000000 100%                
  );
}




























































@theme {
  --font-sans: "Mona Sans", sans-serif;
  --color-white-50: #d9ecff;
  --color-black-50: #1c1c21;
  --color-black-100: #0e0e10;
  --color-black-200: #282732;
  --color-blue-50: #839cb5;
  --color-blue-100: #2d2d38;
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
}

@layer components {

  .section-padding {
    @apply md:px-10 md:pt-40 pt-20
  }

  .hero-layout {
    @apply relative z-10 xl:mt-20 mt-32 md:h-dvh h-[80vh] flex xl:items-center items-start justify-center;
  }

  .hero-text {
    @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;

    img {
      @apply size-8 md:size-10 object-contain;
    }

    .slide {
      @apply absolute pt-0 px-2 md:px-5 py-[30px] h-[48px] md:h-[78px] md:translate-y-1 translate-y-0 overflow-hidden;
    }
  }



  .hero-3d-layout {
    @apply xl:w-[70%] w-full h-full min-h-[50vh] absolute xl:-top-20 top-24 xl:-right-20 right-0;
  }






  .cta-button {
    @apply px-4 py-4 rounded-lg bg-black-200 flex justify-center items-center relative cursor-pointer overflow-hidden;

    .bg-circle {
      @apply absolute -right-10 origin-center top-1/2 -translate-y-1/2 w-[120%] h-[120%] group-hover:size-10 group-hover:right-10 rounded-full bg-white-50 transition-all duration-500;
    }

    .text {
      @apply uppercase md:text-lg text-black transition-all duration-500 group-hover:text-white-50 group-hover:-translate-x-5 xl:translate-x-0 -translate-x-5;
    }

    .arrow-wrapper {
      @apply group-hover:bg-white-50 size-10 rounded-full absolute right-10 top-1/2 -translate-y-1/2 flex justify-center items-center overflow-hidden;

      img {
        @apply size-5 xl:-translate-y-32 translate-y-0 animate-bounce group-hover:translate-y-0 transition-all duration-500;
      }
    }
  }







}


.slide {
  display: inline-block;
  flex-direction: column;
  transition: all cubic-bezier(0.71, 0.03, 0.34, 1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  animation: wordSlider 21s infinite cubic-bezier(0.9, 0.01, 0.3, 0.99);
}

@keyframes wordSlider {
  0% {
    transform: translateY(0.5%);
  }

  12.5% {
    transform: translateY(-12.5%);
  }

  25% {
    transform: translateY(-25%);
  }

  37.5% {
    transform: translateY(-37.5%);
  }

  50% {
    transform: translateY(-50%);
  }

  62.5% {
    transform: translateY(-62.5%);
  }

  75% {
    transform: translateY(-75%);
  }

  87.5% {
    transform: translateY(-87.5%);
  }
}


/* From Uiverse.io by aadium */ 
.card {
  background-color: #1e2127;
  border: 3px solid #61dafb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  font-weight: 700;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 30px 20px;
  color: #61dafb;
  border-radius: 45px;
  width: 250px;
  height: 250px;
}

.App-logo {
  pointer-events: none;
  margin-top: -10px
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}